<h3>Personne</h3>
<div>
    Nom : @LastName
</div>
<div>
    Prénom : @FirstName
</div>
<div>
   <button @onclick="DecreaseAge">-</button> @Age <button @onclick="IncreaseAge">+</button>
</div>
@code {
    [Parameter]
    public string FirstName { get; set; }

    [Parameter]
    public string LastName { get; set; }

    public int Age { get; set; }

    public PersonComponent() {
        Age = 0;
    }

    public void DecreaseAge() {
        Age--;
    }

    public void IncreaseAge() {
        Age++;
    }
}
