
<div>
    Titre du produit : @Name
</div>
<div>
    Prix: @Price €
</div>
@*<div>
    Description: @Description
</div>*@
<div>
    <NavLink href="@Link">Detail produit</NavLink>
</div>
@code {

    [Parameter]
    public string Name { get; set; }

    //[Parameter]
    //public string Description { get; set; }

    [Parameter]
    public decimal Price { get; set; }


    public string Link { get => "/product/" + Name; }
}
